body{
	background-image: url("./images/blue_background.gif");
}

.wrapper-box{
	border: 10px solid white;
	background: white;
	margin-left: 10%;
	margin-right: 10%;
}

.header{
	text-align: right;
	background: #A8F0F0;
}

.header h2{
	font-size: 14pt;
	margin: 2px;
}

.post{
	border: 4px solid #C2E9E9;
	background: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	height: auto;
    overflow: auto;
}

.date{
	border-bottom: 2px dashed blue;
}

.post p img{
	float:right;
}