BODY {
    background-color: #5f676d;
}
h1 {
    color: #d7acde;
    font-size: larger;
    font-family: monospace;
    text-align: left;
}
h2 {
    color: #bdc2e2;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
}
.d2 {
    text-align: center;
}

ul {
    text-align:center;
    list-style-type:none;
    color: #bdc2e2;
    font-size: 17px;
    font-family: cursive;
}
th {
    font-family: cursive;
    text-align: center;
    color: #d7acde;
    font-size: 27px;
}
td {
    text-align: center;
    color: #bdc2e2;
    font-size: 17px;
    font-family: cursive;
}
a {
    font-size: 27px;
    font-family: cursive;
    color: #d7acde;
}
    a:hover {
        color: #efc281;
    }
.text-right{
    text-align:right;
}
/*movies*/
.dm h2 {
    color: #efc281;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
}
.dm a{
    font-size:large;
    text-align:center;
}
.tdm1 {
    font-family:cursive;
    color: #d7acde;
    font-size: 24px;
    text-align: left;
    width:20%;
}
.tdm2 {
    font-size: 20px;
    text-align: -webkit-left;
    font-family: cursive;
    color: #bdc2e2;
}
.tdm2 p{
    margin:0;
}
.imgm {
    padding-right: 30px;
    vertical-align: top;
}
.dmt table {
    margin: 70px 5px;
}
hr {
    border-color: darkgray;
}
.dm .a-home a, .dm .top a{
    font-size: 27px;
    font-family: cursive;
    color: #d7acde;
}
.a-home a:hover, .dm .top a:hover {
    color: #efc281;
}